.intro {
    background: url("../../images/made-on-earth.svg") top 50px right 50px, url("../../images/intro_background-circle.svg") top -160px right -160px, $primary-color;
    background-repeat: no-repeat;
    background-size: 169px 169px, 565px 565px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
  
    
    &__logo{
        margin: 0;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 30px;
        padding: 40px 0 0 50px;
        color: #FFDB00;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        padding: 40px 0 50px 50px;
        position: relative;
    }

    &__images {
        position: relative;
    }


    &__text {
       margin: 278px 0 0 100px;
       display: flex;
       flex-direction: column;
    }

    &__subtitle {
        margin: 0 0 171px 0;
        font-size: 40px;
        line-height: 48px;
        color: #ffffff;
        font-weight: 600;
    }

    &__button {
       width: 163px;
    }

    &__pineapple {
        margin: 0;
        position: absolute;
        top: 501px;
        left: 696px;
        transform: rotate(10.05deg);
      
    }

    &__fresh{
        background-color: #CEF564;
        min-height: 76px;
        position: relative;

        &::before {
            content:'fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh —';
            position: absolute;
            top: 20px;
            right: 0;
            font-family: $font-family-inter;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            text-transform: uppercase;
            color: $secondary-color;
            overflow: hidden;
            white-space: nowrap;
            width: $max-width + 93px;
            clip: rect(0, $max-width + 93px, 76px, 93px);
        }

    }
}