.intro {
    
    &__title{
        margin: 0;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 40px 0 50px 0;
        
    }



   &__text {
       margin: 278px 0 0 100px;
       display: flex;
       flex-direction: column;
   }

   &__subtitle {
        margin: 0 0 171px 0;
   }

    &__pineapple {
        margin: 0;
        width: 129px;
        height: 64.4px;
        border-radius: 72.3px;
        background-color: #CEF564;
        border: 3px solid #016450;
        font-family: $font-family-work-sans;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        color: $secondary-color;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        

        &:before{
            border: 3px solid #016450;
            width: 129px;
            height: 64.4px;
            background-color: #CEF564;
            position: absolute;
            top:-64.4px;
            display: block;
            content: '';
            border-radius: 72.3px;
            z-index: -1;
        }
    }

}