@charset "UTF-8";
@import '../vendor/normalize.css';
@import '../vendor/fonts.css';
.page {
  font-family: "Inter", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  background-color: #FFDB00;
  color: #1E3264;
  height: 55px;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.3px;
  font-weight: 500;
  box-shadow: none;
  border: 0;
  padding: 0;
}
.button:hover {
  cursor: pointer;
  border: 2px solid #1E3264;
  border-radius: 10px;
}

.intro {
  background-color: #9960F6;
  background-image: url("../../images/intro_background-circle.svg");
  background-repeat: no-repeat;
  background-size: 565px 565px;
  background-position: top -160px right -160px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.intro::after {
  background-image: url("../../images/made-on-earth.svg");
  background-repeat: no-repeat;
  height: 169px;
  width: 169px;
  display: block;
  position: absolute;
  content: "";
  top: 50px;
  right: 50px;
}
.intro__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  padding: 40px 0 0 50px;
  color: #FFDB00;
}
.intro__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 40px 0 50px 50px;
  position: relative;
}
.intro__images {
  position: relative;
}
.intro__text {
  margin: 278px 0 0 100px;
  display: flex;
  flex-direction: column;
}
.intro__subtitle {
  margin: 0 0 171px 0;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 600;
}
.intro__button {
  width: 163px;
}
.intro__pineapple {
  margin: 0;
  position: absolute;
  top: 501px;
  left: 696px;
  transform: rotate(10.05deg);
}
.intro__fresh {
  background-color: #CEF564;
  min-height: 76px;
  position: relative;
}
.intro__fresh::before {
  content: "fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh — fresh —";
  position: absolute;
  top: 20px;
  right: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #016450;
  overflow: hidden;
  white-space: nowrap;
  width: 1533px;
  clip: rect(0, 1533px, 76px, 93px);
}

.description {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.description__title {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.5px;
  color: #1E3264;
  text-align: center;
  font-weight: 500;
  margin: 0;
  padding: 120px 0 120px 0;
}
.description__tastes {
  width: 1340px;
  min-height: 525px;
  background-color: #9960F6;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 386px 518px;
  grid-template-rows: 48px 93px;
  gap: 30px 236px;
  padding: 90px 100px 90px 100px;
  box-sizing: border-box;
}
.description__subtitle {
  color: #ffffff;
  font-size: 52px;
  line-height: 48px;
  font-weight: 600;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
}
.description__slogan {
  color: #ffffff;
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: 0.3px;
  opacity: 0.8;
  margin: 0;
  grid-row: 2;
  grid-column: 1;
}
.description__image {
  width: 518px;
  height: 345px;
}
.description__ingredients {
  width: 1340px;
  min-height: 580px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 386px 255px;
  grid-template-rows: 48px 62px 55px 55px 55px;
  gap: 30px 499px;
  padding: 90px 100px 90px 100px;
  box-sizing: border-box;
  background: url("../../images/ingredients_circle1.svg") left 622px top 123px no-repeat, url("../../images/ingredients__circle2.svg") bottom 121px right 481px no-repeat;
  background-color: #8556F8;
}
.description__list {
  grid-row: 1/4;
  grid-column: 2;
}
.description__ingredient {
  color: #ffffff;
  font-size: 32px;
  line-height: 50.4px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 0 4px 0;
}
.description__ingredient:nth-of-type(1) {
  padding-top: 0;
}
.description__button {
  width: 163px;
  grid-row: 5;
  grid-column: 1;
}

.soda {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.soda__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 0.3px;
  color: #1E3264;
  max-width: 460px;
  margin: auto 0 auto 154px;
}
.soda__images {
  padding: 70px 180px 0 0;
  position: relative;
}
.soda__image {
  height: 510px;
  width: 430px;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.soda__mango {
  position: absolute;
  transform: rotate(-19deg);
  top: 116px;
  left: -97px;
}/*# sourceMappingURL=index.css.map */